* {
  background-color: #f9faff;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* navbar */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: #f9faff;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.logo-navbar > a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.logo-navbar {
  margin-left: 7%;
}
.item-navbar {
  margin-right: 7%;
}
.item-navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.item-navbar > ul > li > a {
  text-decoration: none;
  color: black;
}
.item-navbar ul li a {
  position: relative;
}

.item-navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.5s ease;
}

.item-navbar ul li a:hover::after,
.item-navbar ul li a.active::after {
  width: 100%;
}
@media only screen and (max-width: 980px) {
  .item-navbar {
    display: none;
  }
  .logo-navbar {
    margin: auto;
  }
  .content-home {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-home img {
    width: 300px;
    margin-left: 52px;
    margin-top: 52px;
  }
  .home-teks {
    margin-left: 52px;
  }
  .home-teks P {
    margin-left: 32px;
  }
  .about-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-about img{
   width: 100%;
   margin-top: 52px;
  }
  article.about-teks{
    margin: 0;
    padding: 0;
  }
  #skill {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
  }
  .skill-header {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .skill-header >div> h1{
    margin-top: 72px;
  }
  .skill-detail{
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 20px;
  }
  .skill-detail-item:hover {
    transform: scale(0.9) !important;
    image-rendering: smooth;
  }
  #project {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    padding: 12px;
  }
  .project-detail{
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 20px;
  }
  .contact {
    margin-left: auto !important;
    
  }
  #contact > h1 {
    margin-left: 52px !important;
  }
  .contact-teks p {
    background-color: re;
  }
  .contact-teks,
  .input-group {
    text-align: center; /* Mengatur teks ke tengah */
  }

  .contact-teks p {
    margin: 0 auto; /* Mengatur margin horizontal menjadi auto */
  }

  .input-group {
    margin: 0 auto; /* Mengatur margin horizontal menjadi auto */
    max-width: 300px; /* Atur lebar maksimum */
  }
}
/* End Navbar */

/* Home */
.content-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-teks {
  margin: 128px;
}

.home-teks > h2 {
  margin-bottom: 16px;
  color: #fdc435;
  font-size: 52px;
}

.home-teks > h1 {
  margin-bottom: 16px;
  font-size: 56px;
}

.home-teks > p {
  margin-right: 32px;
  color: #828282;
  line-height: 1.5;
}
.btn-1 {
  margin-top: 16px;
  border: 1px solid;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #fdc435;
}
.btn-2 {
  border-radius: 6px;
  border: 1px solid;
  padding: 6px 16px;
  margin-left: 16px;
  cursor: pointer;
  background-color: #fdc435;
}

.img-home {
  width: 100%;
  margin-right: 52px;
}

.btn-1:hover {
  background-color: transparent;
}
.btn-2:hover {
  background-color: transparent;
}
.content-home {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50px);
}
/* End Effect */

/* End Home */

/* About */
.about-content > article > h1 {
  color: #fdc435;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-teks {
  margin: 128px;
}
.about-teks > h1 {
  color: #fdc435;
  font-size: 56px;
}
.about-teks > p {
  margin-top: 32px;
  line-height: 1.5;
  color: #828282;
}
.img-about {
  width: 100%;
  margin-right: 52px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Effect About */
.about-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50px);
}
/* End Effect About */

/* Skill */
#skill {
   margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 200px; 
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-header > div > h1 {
  color: #fdc435;
  font-size: 56px;
}
.skill-header > div > p {
  margin-top: 32px;
  line-height: 1.5;
  color: #828282;
}
.skill-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
}
.skill-detail-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.skill-detail-item:hover {
  transform: scale(1.15);
  image-rendering: smooth;
}
.skill-detail-item h2 {
  padding: 12px 20px;
}

.skill-detail-item p {
  font-size: 16px;
  padding: 0 16px;
  color: #828282;
  margin-bottom: 24px;
}
.skill-detail-item > img {
  width: 100%;
}
/* Effect Skill-Detail-Item */
.skill-detail-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50px);
}
.animate-left {
  opacity: 1;
  transform: translateX(0);
}

/* End Effect */

/* End Skill */
/* End About */

/* Project */
#project {
  margin-left: 128px;
  margin-right: 128px;
  margin-top: 72px;
}
.project {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50px);
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 92px;
}
.project-header > div > h1 {
  color: #fdc435;
  font-size: 56px;
}
.project-header > div > p {
  padding-top: 32px;
  color: #828282;
  line-height: 1.5;
}

.project-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
  margin-bottom: 128px;
}

.project-detail-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 32px;
}
.project-detail-item:hover {
  transform: scale(1.15);
  image-rendering: smooth;
}
.project-detail-item:hover img {
  filter: grayscale(0);
}

.project-detail-item h2 {
  padding: 12px 20px;
}

.project-detail-item p {
  font-size: 16px;
  padding: 0 16px;
}
.project-detail-item > img {
  width: 100%;
}
.view-project {
  padding-top: 12px;
  font-weight: 600;
  border-bottom: 2px solid #8544d6;
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 32px;
}
.view-project p {
  padding: 0;
  margin: 0;
}
.view-project a {
  text-decoration: none;
  color: black;
}
/* CSS Animation Classes */
.project-detail-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-50px);
}
.animate-left {
  opacity: 1;
  transform: translateX(0);
}

/* End Project */

/* Contact */
#contact > h1 {
  color: #fdc435;
  font-size: 56px;
  margin-left: 129px;
}
.contact-teks {
  margin-right: 128px;
  margin-bottom: 72px;
  margin-top: 24px;
}
.contact-teks p {
  color: #828282;
}
.contact {
  margin-bottom: 72px;
}
.contact {
  margin-left: 128px;
}

.contact-detail {
  margin-right: 128px;
  padding: 32px 32px;
  border: 1px solid;
}
.contact-detail h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
}
.input-group {
  display: grid;
  column-gap: 32px;
  margin-bottom: 32px;
}
.input-group > label {
  font-weight: 700;
}
.input-group > input {
  border: none;
  outline: none;
  margin-top: 12px;
  border-bottom: 1px solid;
}
.input-group input:focus {
  border-bottom: 1px solid #ffc108;
}

/* Contact */
/* Footer */
#footer {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
  top: 0;
  position: sticky;
}
.footer-text {
  padding: 12px 20px;
  margin-left: 7%;
}
.footer-text > p {
  font-size: 12px;
  color: #828282;
}
.footer-icon {
  font-size: 42px;
  margin-right: 7%;
}
.footer-icon > a {
  color: black;
}
/* End Footer */
