* {
  background-color: #f9faff;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
/* navbar */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 24px;
  position: sticky;
  top: 0;
  background-color: #f9faff;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
  z-index: 4;
}
.logo-navbar > a {
  text-decoration: none;
  font-weight: 800;
  color: black;
}

.logo-navbar {
  margin-left: 7%;
}
.item-navbar {
  margin-right: 7%;
}
.item-navbar > ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.item-navbar > ul > li > a {
  text-decoration: none;
  color: black;
}
/* End Navbar */

/* Home */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teks {
  margin: 128px;
}

.teks > h2 {
  margin-bottom: 16px;
  color: #fdc435;
  font-size: 52px;
}

.teks > h1 {
  margin-bottom: 16px;
  font-size: 56px;
}

.teks > p {
  margin-right: 32px;
  color: #828282;
  line-height: 1.5;
}
.btn-home {
  gap: 32px;
}
.btn-1 {
  margin-top: 16px;
  border: 1px solid;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-2 {
  border-radius: 6px;
  border: 1px solid;
  padding: 6px 16px;
  margin-left: 16px;
  cursor: pointer;
}

.img-home {
  width: 100%;
  margin-right: 52px;
}

.btn-1:hover {
  background-color: #fdc435;
}
.btn-2:hover {
  background-color: #fdc435;
}
/* End Home */

/* About */
.about-content > article > h1 {
  color: #fdc435;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-about {
  width: 100%;
  margin-right: 100px;
}

#about > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 16px;
  color: #828282;
  line-height: 1.5;
}
/* Skill */
#skill {
  margin-left: 128px;
  margin-right: 128px;
  margin-bottom: 200px;
}

.skill-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-header > div > h1 {
  color: #fdc435;
  font-size: 56px;
}
.skill-header > div > p {
  margin-top: 32px;
  line-height: 1.5;
  color: #828282;
}
.skill-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
}
.skill-detail-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.skill-detail-item:hover {
  transform: scale(1.15);
  image-rendering: smooth;
}
.skill-detail-item h2 {
  padding: 12px 20px;
}

.skill-detail-item p {
  font-size: 16px;
  padding: 0 16px;
  color: #828282;
}
.skill-detail-item > img {
  width: 100%;
}
/* End Skill */
/* End About */

/* Project */
#project {
  margin-left: 128px;
  margin-right: 128px;
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 92px;
}
.project-header > div > h1 {
  color: #fdc435;
  font-size: 56px;
}
.project-header > div > p {
  padding-top: 32px;
  color: #828282;
  line-height: 1.5;
}
.project-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 128px;
  margin-top: 72px;
  margin-bottom: 200px;
}
.project-detail-item {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.project-detail-item:hover {
  transform: scale(1.15);
  image-rendering: smooth;
}
.project-detail-item:hover img {
  filter: grayscale(0);
}

.project-detail-item h2 {
  padding: 12px 20px;
}

.project-detail-item p {
  font-size: 16px;
  padding: 0 16px;
}
.project-detail-item > img {
  width: 100%;
}
.view-project {
  padding-top: 12px;
  font-weight: 600;
  border-bottom: 2px solid #8544d6;
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 32px;
}
.view-project p {
  padding: 0;
  margin: 0;
}
.view-project a {
  text-decoration: none;
  color: black;
}
/* End Project */
